.user-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid green;
  border-radius: 10px;
}

.is-adult {
  border-color: red;
}
